{%  extends 'PHT/main.html' %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<br>
<style>
	
	table, td{
		position: relative;
		border:2px solid black;
		width: 388px;
		font-family: 'Times New Roman', Times, serif;
	}
	th {
		position: relative;
		border:2px solid black;
		width: 250px;
		font-family: 'Times New Roman', Times, serif;
	}
    
</style>
<div class="row">
	<div class="col-md-5" style="position: relative;left: 11px;">
		<h5 style="position: relative; 
        color: #f57706;
    ">PRODUCT TRACKING</h5>
		<hr>
		<div class="card card-body" style="position: relative;">
			
			<div>
				<div class="input-group mb-3">
                    
						
                   <h6>Specifications of Philips 32" ANDROID Ultra Slim HD Smart LED TV (32PHT6915/98)
				</h6>
                </div>
			<table>
				<tr>
					<th>SKU</th>
					<td>220294946_PK-1433739908</td>
				</tr>
					<tr>
					  <th>Company</th>
					  <td>MSY</td>
					</tr>
					<tr>
						<th>Brand</th>
						<td>MSY-TECH</td>
					</tr>
					<tr>
						<th>Seller</th>
						<td>MY PENCIL</td>
					</tr>
					<tr>
						<th>Review</th>
						<td>0</td>
					</tr>
						<tr>
						  <th>Ratings</th>
						  <td>5</td>
						</tr>
						<tr>
							<th>Shipping</th>
							<td>Free</td>
						</tr>
						<tr>
							<th>Price</th>
							<td>Free</td>
						</tr>
						<tr>
							<th>Sales</th>
							<td>13-14</td>
						</tr>
						<tr>
							<th>Revenue</th>
							<td>468000</td>
						</tr>
						<tr>
							<th>Revenue</th>
							<td>468000</td>
						</tr>
				  </table>
				</div>		  


		</div>
	</div>

	<div class="col-md-7" style="
    position: relative;
    left: -7px;
    color: #f57706;
">
		<h5 style="color: #f57706;">Tracked Data </h5>
		<hr>
		<div class="card card-body" style="
		height: 415px;
		color: black;">
			<div style="position: relative;width: 250px;border: 2px solid #b5b1b1;border-radius: 5px;">
			<div>
				<h6 style="color: #f57706;">Avg Units Sold</h6>
			</div>
			<div>
				<h3>23-24 /month</h3>
			</div>
			<hr>
			<div>
				<h6 style="color: #f57706;">Avg Revenue</h6>
			</div>
			<div>
				<h3>Rs583,082 /month</h3>
			</div>
		</div>
		<div style="position: relative; top: 10px; width: 250px;border: 2px solid #b5b1b1;border-radius: 5px;">
			<div>
				<h6 style="color: #f57706;">Avg Rating</h6>
			</div>
			<div>
				<h3>2.1</h3>
			</div>
			<hr>
			<div>
				<h6 style="color: #f57706;">Avg Reviews</h6>
			</div>
			<div>
				<h3>25</h3>
			</div>
		</div>
		<!-- RGIHT SIDE DIV -->
		<div style="position: relative;width: 250px;border: 2px solid #b5b1b1;border-radius: 5px;top: -156px;left: 431px;">
			<div>
				<h6 style="color: #f57706;">Avg Price
				</h6>
			</div>
			<div>
				<h3>Rs24,812 /unit
				</h3>
			</div>
			<hr>
			<div>
				<h6 style="color: #f57706;">Avg LQS
				</h6>
			</div>
			<div>
				<h3>53 /100</h3>
			</div>
		</div>
		<div style="position: relative;left: 431px;top: -500px;width: 250px;border: 2px solid #b5b1b1;border-radius: 5px;">
			<div>
				<h6 style="color: #f57706;">Avg Charges
				</h6>
			</div>
			<div>
				<h3>2.1</h3>
			</div>
			<hr>
			<div>
				<h6 style="color: #f57706;">Profit</h6>
			</div>
			<div>
				<h3>25</h3>
			</div>
		</div>
	</div>

</div>

{% endblock %}

